{% extends 'base.html'%}
{% block content_title %}

{% endblock %}
{% block content %}

     <div class="container">
        <nav class="nav nav-pills flex-column flex-sm-row">
          <a class="flex-sm-fill text-sm-center nav-link active" href="/">Strona główna</a>
          <a class="flex-sm-fill text-sm-center nav-link active" href="/login/">Logowanie</a>
          <a class="flex-sm-fill text-sm-center nav-link active" href="/register">Rejestracja</a>
          <a class="flex-sm-fill text-sm-center nav-link active" href="/about">O nas</a>
          <a class="flex-sm-fill text-sm-center nav-link active" href="/contact">Kontakt</a>
        </nav>
    </div>

    <form method="post">
    {% csrf_token %}
    {% if messages %}
        <div class="container">
            <div class="d-flex justify-content-left">
              <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                  <span class="{{ message.tags }}">{{ message }}</span>
                {% endfor %}
              </div>
            </div>
        </div>
    {% endif %}
        <div class="container">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="btn btn-secondary btn-lg" id="basic-addon1">
                        <div>
                            <div class="alert alert-info" role="alert">
                                <h5>Dane urzytkownika:</h5>
                            </div>
                            <a>{{ user_form.as_p}}</a>
                        </div>
                    </div>
                    <div class="container">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="btn btn-secondary btn-lg" id="basic-addon1">
                                    <div>
                                        <div class="alert alert-info" role="alert">
                                            <h5>Dane warsztatu:</h5>
                                        </div>
                                        <a>{{ workshop_form.as_p}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <input type="submit" class="btn btn-secondary btn-lg" value="Zarejestruj">
        </div>
    </form>
{% endblock %}